.product-list {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    .product-item {
        box-shadow: 0px 0px 4px #000000;
        flex-basis: calc(33.3% - 10px);
        flex-grow: 0;
        img {
            width: 100%;
        }

        
        .product-item-content {
            padding: 12px;
            .product-item-title {
                font-size: 18px;
                font-weight: bold;
            }
            .product-price {
                font-size: 16px;
                padding: 10px 0px;
                font-weight: bold;
            }
        }
    }
}

* {
    box-sizing: border-box;
}